.category-component {
    padding: 10px;
    border: 1px solid #dddddd;
}
.item--sub {
    margin-left: 20px;
}
.category {
    align-items: center;
    display: flex;
}
.category-title {
    flex: 1;
}
