.category-controls{
    float: right;
}

.selected {
    background-color: lightskyblue;
}
.item {
    border-top: 1px solid #dddddd;
}
.item-body {
    padding: 10px;
    display: flex;
}
.title {
    flex: 1;
}
.sub {
    margin-left: 20px;
}